*,
html,
body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: white;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
	width: 500px;
	margin: 0 auto;
}

.wrapper{
	min-width: 325px;
	min-height: 100vh;
	justify-content: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.content{
	margin: 8px;
}

#pertanyaan{
	font-size: 18px;
	font-weight: 600;
}

.row{
	margin-left: 20px;
	flex-direction: row;
	justify-content: center;
}

input{
	border: none;
	background-color: #eaeaea;
	color: black;
	padding: 14px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	font-size: 13px;
	margin-top: 10px;
}

button{
	cursor: pointer;
	color: white;
	border: none;
	background-color: blueviolet;
	font-size: 14px;
	margin-left: 12px;
	padding: 14px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

button:hover{
	background-color: #333333;
	transition: .5s ease-in-out;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-ms-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
}

#loaders{
	display: none;
	width: 85px;
	height: 85px;
	border-top: 15px solid blueviolet;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	z-index: 9;
	animation: 3s spin infinite linear ;
	-webkit-animation: 1s spin infinite linear ;
}

@keyframes spin{
	0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}

	100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}
